<div class="container">
	<div class="search-form">
		<%= form_tag new_booking_path, method: :get do %>

			<% if flash[:error] %>
				<div class="alert alert-danger">
					<%= flash[:error] %>
				</div>
			<% end %>

			<% if flash[:success] %>
				<div class="alert alert-success">
					<%= flash[:success] %>
				</div>
			<% end %>

			<div class="form-inline">
				<h4>Search room by date</h4>
				<%= text_field_tag :start_date, "", class: 'form-control', placeholder: 'YYYY-MM-DD' %>
				<%= submit_tag "Search", class: 'btn btn-primary' %>
			</div>
		<% end %>
	</div>

	<hr>
	<h3>Your Booking History</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Room Number</th>
				<th>Date</th>
				<th>Start Time</th>
				<th>End Time</th>
			</tr>
		</thead>
		<tbody>
			<% @booked_slots.sort_by { |e| [e.start_date, e.room_id]}.each do |booking|%>
				<tr>
					<td><%= booking.room.number %></td>
					<td><%= booking.start_date.strftime("%Y-%m-%d") %></td>
					<td><%= booking.start_date.strftime("%H:%M") %></td>
					<td><%= booking.end_date.strftime("%H:%M")  %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
