<!DOCTYPE html>
<html>
  <head>
    <title>Bookroom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'style' %>
  </head>

  <body>
    <div class="container-fiuld">
      <div class="main">
        <%= yield %>
        <footer class="footer">
          <div class="container">
          <div class="copyright-text pull-right">
            © Starfall 2018
          </div>
        </div>
        </footer>
      </div>
    </div>
  </body>

</html>
